.main-footer {
    width: 100%;
    background: #1968B7;
    display: flex;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;

    .upper-footer {
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;

        .upper-left {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-right: 40px;
            width: 50%;

            h2 {
                font-size: 24px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: start;

            }

            p {
                font-size: 17px;
                font-weight: 400;
            }

            .upper-left-action {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;

                input {
                    width: 100%;
                    height: 47px;
                    box-shadow: 0px 4px 4px 0px #00000040;
                    border: none;
                    border-radius: 16px;
                    box-shadow: 0px 4px 4px 0px #00000040;
                    padding-left: 10px;
                    margin-right: 15px;

                }

                button {
                    background-color: #2181E2;
                    width: 160px;
                    height: 47px;
                    border-radius: 16px;
                    border: none;
                }
            }
        }

        .upper-right {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-left: 20px;
            width: 50%;

            h2 {
                font-size: 24px;
            }

            .upper-right-icons {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                flex-wrap: wrap;

                .socal-icon {
                    width: auto;
                    height: 57px;
                    background: #2181E2;
                    border-radius: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 15px;
                    padding: 0 20px 0 20px;

                    img {
                        width: 29px;
                        height: 23px;
                    }
                }
            }
        }
    }

    .mid-footer {
        display: flex;
        width: 100%;
        margin-top: 40px;
        padding-bottom: 40px;

        span {
            padding-top: 20px;
            font-size: 13px;
        }

        h2 {
            font-size: 18px;
        }

        p {
            font-size: 17px;
            font-weight: 400;
        }

        .mid1 {
            display: flex;
            flex-direction: column;
            width: 40%;
            padding-right: 40px;

            .opensea {
                display: flex;
                align-items: center;
                justify-content: start;

                h1 {
                    font-size: 20px;
                }
            }

            img {
                width: 42.7px;
                height: 33.92px;
                margin: 10px;
            }
        }

        .mid2 {
            display: flex;
            flex-direction: column;
            width: 20%;

            .stats {
                padding-top: 170px;
            }
        }

        .mid3 {
            display: flex;
            flex-direction: column;
            width: 20%;
        }

        .mid4 {
            display: flex;
            flex-direction: column;
            width: 20%;

            .company {
                padding-top: 50px;
            }
        }
    }

    .lower-footer {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 5px;
        font-size: 15px;

        .lower-footer-right {
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                padding: 10px;
            }
        }

    }
}


@media screen and (max-width:550px) {
   
    .mid-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        margin-top: 40px;
        padding-bottom: 40px;

        .mid3 {
            width: 100% !important;
        }

        .mid4 {
            width: 100% !important;
        }

        span {
            padding-top: 5px !important;
            font-size: 14px !important;
            width: 100% !important;
            text-align: center;
        }

        h2 {
            font-size: 22px !important;
            width: 100% !important;
            text-align: center;
            padding-top: 50px;
        }

        p {
            font-size: 17px;
            font-weight: 400;
            width: 100%;
        }

        .mid1 {
            display: flex;
            flex-direction: column;
            width: 100% !important;
            padding-right: 0px !important;

            img {
                width: 42.7px;
                height: 33.92px;
                margin: 10px;
            }
        }

        .mid2 {
            display: flex;
            flex-direction: column;
            width: 100% !important;
            justify-content: center;
            align-items: center;

            .stats {
                padding-top: 50px !important;
            }
        }

        .mid3 {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .mid4 {
            display: flex;
            flex-direction: column;
            width: 20%;

            .company {
                padding-top: 50px;
            }
        }
    }



    .upper-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;

        .upper-left {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-right: 0px !important;
            padding-top: 30px;
            width: 100% !important;

            h2 {
                font-size: 24px;
                width: 100% !important;
                display: flex;
                align-items: center;
                justify-content: start;

            }

            p {
                font-size: 17px;
                font-weight: 400;
            }

            .upper-left-action {
                display: flex;
                width: 100% !important;
                align-items: center;
                justify-content: space-between;

                input {
                    width: 100%;
                    height: 47px;
                    box-shadow: 0px 4px 4px 0px #00000040;
                    border: none;
                    border-radius: 16px;
                    box-shadow: 0px 4px 4px 0px #00000040;
                    padding-left: 10px;
                    margin-right: 15px;

                }

                button {
                    background-color: #2181E2;
                    width: 160px;
                    height: 47px;
                    border-radius: 16px;
                    border: none;
                }
            }
        }

        .upper-right {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-left: 0px !important;
            padding-top: 40px;
            width: 100% !important;

            h2 {
                font-size: 24px;
            }

            .upper-right-icons {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                flex-wrap: wrap;

                .socal-icon {
                    width: auto;
                    height: 45px !important;
                    background: #2181E2;
                    border-radius: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 15px;
                    padding: 0 20px 0 20px;
                    box-shadow: 0px 4px 4px 0px #00000040;
                    transition: transform 0.3s ease, box-shadow 0.3s ease;

                    &:hover {
                        transform: scale(1.05);
                        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
                    }


                    img {
                        width: 20px !important;

                    }
                }
            }
        }
    }
}