<div class="container-fluid main-footer">
    <div class="upper-footer">
        <div class="upper-left">
            <h2>Stay in the loop</h2>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                in some form,</p>
            <div class="upper-left-action">
                <input type="search" placeholder="Your email address">
                <button>Sign up</button>
            </div>
        </div>
        <div class="upper-right">
            <h2>Join the community</h2>
            <div class="upper-right-icons">
                <div class="socal-icon">
                    <img src="/assets/images/Vector (5).png" alt="">
                </div>
                <div class="socal-icon">
                    <img src="/assets/images/Vector (6).png" alt="">
                </div>
                <div class="socal-icon">
                    <img src="/assets/images/Vector (9).png" alt="">
                </div>
                <div class="socal-icon">
                    <img src="/assets/images/Vector (7).png" alt="">
                </div>
                <div class="socal-icon">
                    <img src="/assets/images/Vector (8).png" alt="">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="mid-footer">
        <div class="mid1">
            <div class="opensea">
            <img src="/assets/images/Group 23.png" style="background: transparent;" alt="">
            <h1>OpenSea</h1>
        </div>
            <p>The world’s first and largest digital marketplace for crypto collectibles and non-fungible tokens (NFTs).
                Buy, sell, and discover exclusive digital items.</p>
        </div>
        <div class="mid2">
            <h2>My Account</h2>
            <span>Profile </span>
            <span>Favorites</span>
            <span>Watchlist</span>
            <span>My collections</span>
            <span>Create</span>
            <span>OpenSea Pro</span>
            <span>Settings</span>


            <h2 class="stats">Stats</h2>
            <span>Rankings</span>
            <span>Activity</span>
        </div>
        <div class="mid3">
            <h2>Resources</h2>
            <span>Blog </span>
            <span>Learn</span>
            <span>Help center</span>
            <span>Community standards</span>
            <span>Taxes</span>
            <span>Partners</span>
            <span>Developer platform</span>
            <span>Platform status</span>
        </div>
        <div class="mid4">
            <h2>Company</h2>
            <span>About</span>
            <span>Careers</span>
            <span>Ventures</span>

            <h2 class="company">Company</h2>
            <span>What is an NFT?</span>
            <span>How to buy an NFT</span>
            <span> How to sell an NFT using OpenSea </span>
            <span>What is cryptocurrency?</span>
            <span>What are blockchain gas fees?</span>
            <span>What is a blockchain?</span>
            <span>What is web3?</span>
            <span> How to stay protected in web3</span>
            <span>How to create an NFT on OpenSea</span>
            <span>What is a crypto wallet?</span>
            <span>What are NFT drops?</span>
        </div>
    </div>
    <hr>
    <div class="lower-footer">
        <div class="lower-footer-left">
            <img src="/assets/images/Vector (10).png" alt="" style="margin-right: 4px;">
            <span>&copy 2018-2023 Ozone Network.Inc</span>
        </div>
        <div class="lower-footer-right">
            <span>Privacy Policy</span>
            <span>Terms of services</span>
        </div>
    </div>
</div>