<div class="container-fluid">
    <div class="content">Notable Collections</div>
    <owl-carousel-o [options]="customOptions" class="photos">
        <ng-template carouselSlide>
            <div class="card">
                <img src="/assets/images/Rectangle 19.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="card">
                <img src="/assets/images/Rectangle 20.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="card">
                <img src="/assets/images/Rectangle 21.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="card">
                <img src="/assets/images/Rectangle 19.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="card">
                <img src="/assets/images/Rectangle 20.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="card">
                <img src="/assets/images/Rectangle 21.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>